<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Day01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MyFIstServlet</servlet-name>
    <servlet-class> com.atguigu.web.servlet.MyFIstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFIstServlet</servlet-name>
    <url-pattern>/abc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mysecond</display-name>
    <servlet-name>Mysecond</servlet-name>
    <servlet-class>com.atguigu.web.servlet.Mysecond</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mysecond</servlet-name>
    <url-pattern>/Mysecond</url-pattern>
  </servlet-mapping>
</web-app>